@font-face {
    font-family: 'Mifuente';
    src: url(fuentes/Roboto-VariableFont_wdth\,wght.ttf);
}

body{
    font-family: 'Mifuente', Arial, sans-serif;
    padding: none;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(../LunaVI.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat ;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    background-color: rgba(50, 50, 228, 0.699);
    backdrop-filter: blur(5px);
}

main{
    padding: 0%;
    margin: 0%;
    width: 100%;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
}

.Category{
    display: flex;
    flex-direction: column;
}

.Category h2{
    text-align: center;
}

.div2 {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
}

.div3 {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 7;
}

.div4 {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 10;
}
        

footer{
    background-color: #37475a;
    color: white;
    padding: 2px;
    user-select: none;
    text-align: center;
}